// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

/* Global Variables */
$dark-blue: #0D004D;
$main-clr: #1538C5;
$hover-clr: #0b5ed7;
$second-clr: #F2F3FC;
$white-clr: #fff;
$gray-clr: #CCCCCC;
$text-clr: #0F1C64;

$half-radius: 50%;
$button-radius: 0.4rem;





