@import "config";

.section-bg {
  background-color: $second-clr;

  .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-content: center;
    flex-wrap: wrap;

    img {
      width: 2.5rem;
      margin-right: 1rem;
      margin-top: 1.5rem;
    }
  }

  //.bg-3 {
  //  max-width: 400px;
  //  width: 100%;
  //}
}

.skills {
  &-p {
    line-height: 2;
    color: $text-clr;
  }
}

